.hero {
  background-image: url('https://svs.gsfc.nasa.gov/vis/a010000/a014100/a014146/BH_accretion_disk_viz_desktop.png'); /* Update this with your image path */
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background image */
  color: white;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text */
  /*https://imageio.forbes.com/specials-images/imageserve/624c6d084510a29690cb8b21/Earth-and-Solar-system-planets-/960x0.jpg?format=jpg&width=960 */
  /*https://svs.gsfc.nasa.gov/vis/a010000/a014100/a014146/BH_accretion_disk_viz_desktop.png */
}

.heroContent {
  max-width: 800px; /* Limit width for better readability */
}

.whiteText {
  font-size: 3rem; /* Adjust size as needed */
  margin: 0;
}

.subText {
  font-size: 1.5rem;
  margin: 10px 0;
}

.ctaButton {
  background-color: #FFD700; /* Gold color for CTA */
  color: #1A1A4B;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem; /* Adjust button text size */
}

.ctaButton:hover {
  background-color: #FFC300; /* Lighter gold on hover */
}

.contentContainer {
  padding: 20px;
  text-align: center;
}

.sectionTitle {
  font-size: 2rem;
  margin: 20px 0;
  color: #FFC300;
  text-align: center;
}





.carouselContainer {
  max-width: 40% ;/* Set a maximum width for the carousel */
  margin: 0 auto; /* Center the carousel */
  position: relative;
  max-height: 10%;
}

.carousel .slider-wrapper {
  overflow: hidden; /* Ensure no overflow outside the container */
}

.carousel img {
  width: 70%; /* Make the image take the full width */
  height: 70%; /* Set a fixed height for the image container */
  object-fit: cover; /* Cover ensures the image retains its aspect ratio */
  border-radius: 10px; /* Optional: Add rounded corners */
}

.carousel .legend {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent legend background */
  color: white;
  font-size: 16px;
  padding: 10px;
}

/* Container for the cards */
.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Individual card styling */
.card {
  width: 30%;
  background-color: #220f42;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Image styling to take up the top half */
.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Text container at the bottom */
.cardText {
  padding: 15px;
  text-align: center;
}

/* Modal styling */
.modal {
  background-color: #220f42;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}

.modalContent {
  text-align: center;
}

.modalImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
/* Container for APOD Section */
.apodContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full screen height */
  padding: 20px;
}

/* APOD Content to split into two halves */
.apodContent {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.apodImage {
  flex: 1;
  max-width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.apodVideo {
  flex: 1;
  max-width: 50%;
  height: auto;
}

.apodText {
  flex: 1;
  padding-left: 40px;
  text-align: left;
  color: #f0f0f0; /* Light gray color for the text */
}

.apodText h3 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ffdd57; /* Golden color for the heading */
}

.apodText p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #c0c0c0; /* Light gray for explanation */
}

.apodText strong {
  color: #f0f0f0; /* Use the same color as the text for strong elements */
}




@media (max-width: 768px) {
  /* Stack content vertically on smaller screens */
  .apodContent {
    flex-direction: column;
  }

  .apodImage,
  .apodVideo {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .apodText {
    padding-left: 0;
    text-align: center;
  }
}



.newsletterSection {
  padding: 20px;
  background-color: #151515;
  text-align: center;
  margin-top: 40px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.newsletterForm {
  display: flex;
  justify-content: center;
}

.newsletterInput {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #007BFF;
  border-radius: 5px;
  outline: none;
}

.newsletterButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffee01;
  color: rgb(23, 23, 23);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  max-width: 10%;
}

.newsletterButton:hover {
  background-color: #f7ca00;
}

.successMessage {
  color: green;
  margin-top: 10px;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}
